@import "../ui/variables.scss";

img {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: $primary-border-radius;
  border-top-right-radius: $primary-border-radius;
}

.cocktail-footer {
  padding: 1rem 2rem;
  overflow: hidden;
  h3,
  h4,
  p {
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
  }

  h3 {
    color: $primary-brown;
    font-size: 1rem;
    margin-top: 1rem;
  }

  h4 {
    font-size: 0.8rem;
    color: $secondary-brown;
  }

  p {
    color: $primary-dark-color;
    margin-bottom: 1.5rem;
    font-size: 12px;
  }

  .btn-details {
    margin: 0 70%;
  }
}
