$primary-red: #8d0000;
$secondary-red: #9f1911;
$tertiary-red: #c1241c;

$primary-peach: #ffcba2;
$secondary-peach: #ffe6b2;
$tertiary-peach: #fff7e7;

$primary-brown: #391b1c;
$secondary-brown: #6f4f4d;

$primary-grey: #8e8d91;
$secondary-grey: #bdbcc0;
$tertiary-grey: #dfdfdf;

$primary-dark-color: #333333;